/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #3c3c5818;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3c3c589f;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3c3c587b;
}
