<!DOCTYPE html>
<!--
نویسنده: Keenthemes
محصولات نام: مترونیک 
خرید: https://1.envato.market/EA4JP
وب سایت: http://www.keenthemes.com
تماس با ما: support@keenthemes.com
دنبال کردن: www.twitter.com/keenthemes
دریبل: www.dribbble.com/keenthemes
Like: www.facebook.com/keenthemes
لاینسس شده: For each use you must have a valid license purchased only from above link in order to legally use the theme for your project.
-->
<html direction="rtl" dir="rtl" style="direction: rtl" >
	<!--begin::Head-->
	<head><base href="../../../"/>
		<title>قالب مدیریت مترونیک پیش نمایش</title>
		<meta charset="utf-8" />
		<meta name="description" content="The most advanced پنل ادمین بوت استراپ Theme on Themeforest trusted by 100,000 beginners و professionals. Multi-demo, حالت تیره, RTL support و complete React, Angular, Vue, Asp.Net Core, Rails, Spring, Blazor, Django, Flask & Laravel versions. Grab your copy now و get life-time updates for free." />
		<meta name="keywords" content="metronic, bootstrap, bootstrap 5, angular, VueJs, React, Asp.Net Core, Rails, Spring, Blazor, Django, Flask & Laravel starter kits, admin themes, web design, figma, web development, free templates, free admin themes, bootstrap theme, bootstrap template, bootstrap dashboard, bootstrap dak mode, bootstrap button, bootstrap datepicker, bootstrap timepicker, fullcalendar, datatables, flaticon" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta property="og:locale" content="en_US" />
		<meta property="og:type" content="article" />
		<meta property="og:title" content="مترونیک " />
		<meta property="og:url" content="https://keenthemes.com/metronic" />
		<meta property="og:site_name" content="Keenthemes | مترونیک" />
		<link rel="canonical" href="Https://preview.keenthemes.com/metronic8" />
		<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />
		<!--begin::Fonts(mوatory for all pages)-->
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />
		<!--end::Fonts-->
		<!--begin::Global Stylesheets Bundle(mوatory for all pages)-->
		
		<link rel="stylesheet" href="assets/css/login/checkbox.css">
		<link rel="stylesheet" href="assets/css/login/input.css">
		<link rel="stylesheet" href="assets/css/login/login.css">

		<link href="assets/plugins/global/plugins.bundle.rtl.css" rel="stylesheet" type="text/css" />
		<link href="assets/css/style.bundle.rtl.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" href="assets/css/login/auth.css">
		<!--end::Global Stylesheets Bundle-->
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="app-blank">
		<!--begin::Main-->
		<!-- begin::Main container -->
		<div class="area" >
			<ul class="circles">
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
				<li></li>
			</ul>
		</div >
		<div class="d-flex align-items-center justify-content-center w-100 h-100 bg-secondary main-container">
			<!-- begin::Inner container -->
			<div class="h-75 w-md-50 w-100 m-2 rounded-4 row inner-container overflow-hidden">
				<!-- begin::Right side contaienr -->
				<div
					class="col-12 col-lg-6 rounded-4 align-items-center d-flex justify-content-center flex-column p-0 m-0 gap-8">
					<!-- begin::Title and Logo -->
					<div class="d-flex flex-column flex-center">
						<!--begin::Title logo image -->
						<img class="mx-auto w-50 mb-1 w-md-50" src="../../assets/media/auth/full_logo.png"
							alt="لوگوی کارینال" />
						<!-- end::Title logo image -->
						<!-- begin::Title text -->
						<p class="fs-4 mb-0 mt-1 text-center fw-semibold text-light">کارینال سامانه هوشمند نمایشگاه خودرو</p>
						<!-- end::Title text -->
					</div>
					<!-- end::Title and Logo -->
					<!-- begin::Login Section -->
					<form class="d-flex flex-column justify-content-center text-center">
						<!-- begin::Phone number section -->
						<div class="col-3 w-100 justify-content-start d-flex flex-column ms-0 mt-1 mb-1">
							<!-- begin::Phone number label -->
							<label for="phoneNumber" class="text-light mx-2 text-start mb-2">شماره تلفن همراه:</label>
							<!-- end::Phone number label -->
							<!-- begin::Phone number input (customized input) -->
							<input class="effect-2 text-secondary text-center bg-dark-custom bg-gradient" autofocus tabindex="1" type="text"
								placeholder="مثال: 09380354358" maxlength="11">
							<!-- end::Phone number input (customized input) -->
							<!-- begin::Bottom border of input -->
							<span class="focus-border" ></span>
							<!-- end::Bottom border of input -->
						</div>
						
						

						<div class="checkbox-wrapper mb-5 mt-2 text-success align-items-center d-flex ms-0">
							<div>
								<!-- <span class="checkbox mx-2">
									<input id="agreement-checkbox" type="checkbox" tabindex="2" />
									<svg>
										<use xlink:href="#checkbox" class="checkbox"></use>
									</svg>
								</span> -->
								<!-- <svg xmlns="http://www.w3.org/2000/svg" style="display:none">
									<symbol id="checkbox" viewBox="0 0 22 22">
										<path fill="none" stroke="currentColor"
											d="M5.5,11.3L9,14.8L20.2,3.3l0,0c-0.5-1-1.5-1.8-2.7-1.8h-13c-1.7,0-3,1.3-3,3v13c0,1.7,1.3,3,3,3h13 c1.7,0,3-1.3,3-3v-13c0-0.4-0.1-0.8-0.3-1.2" />
									</symbol>
								</svg> -->
							</div>
							<div>
								<label class="text-light">برای ارسال کد شماره همراه خود را وارد کنید</label>
							</div>
						</div>
						
						
						<!-- begin::Form login button -->
						<button type="submit" onclick="diable_button(this)" tabindex="3" class="btn btn-primary button-orange-gradient">ورود</button>
						<p id="login-wait-alert" class="text-light p-1 mt-2 d-none">لطفاً تا دریافت پیامک صبر نمایید.</p>
						<!-- begin::Form login button -->
						<!-- begin::Contact us -->
						<a href="tel:90003041" class="bottom-0">
							<p class="pt-2 text-muted  text-center text-light">تماس با ما: 90003041</p>
						</a>
						<!-- end::Contact us -->
					</form>
					<!-- end::Login Section -->
				</div>
				<!-- begin::Left side contaienr -->
				<div
					class="col-12 col-lg-6 d-none d-lg-flex d-flex flex-column  left-side-inner gap-11">
					<!-- begin::Left side container image -->
					<img class="mx-auto w-75 justify-content-center align-items-center"
						src="assets/media/cars/Car finance-bro.svg" alt="سامانه هوشمند نمایش خودرو" />
					<!-- end::Left side container image -->
					<!-- begin::Slogan Sharjino -->
					<p class="h1 text-center m-5">کارینال</p>
					<!-- end::Slogan Sharjino -->
					<!-- begin::Left side inner container buttons -->
					<div class="d-flex justify-content-center align-items-cejustify-content-center">
						
						<!-- begin::Application download button -->
						<button
							class="fs-6 fw-bold h1 m-2 btn w-auto mx-2  button-gray-gradient text-hover-danger"
							onclick='window.open("https://sharjinoo.ir/sharjino.apk");'>دانلود اپلیکیشن</button>
					</div>
					<!-- end::Application download button -->
					<!-- end::Left side inner container buttons -->
				</div>
			</div>
			<!-- end::Left side contaienr -->
		</div>
		<!-- end::Inner container -->
		<!-- begin::Application downlaod in phone display -->
		<div class="d-flex justify-content-end align-items-end end-0 bottom-0 position-absolute d-lg-none d-lg-block">
			<button
				class="fs-6 fw-bold h1 m-2 btn w-auto mx-2 justify-content-center align-items-center button-gray-gradient text-warning text-hover-danger"
				onclick='window.open("https://sharjinoo.ir/sharjino.apk");'>دانلود اپلیکیشن</button>
		</div>
		<!-- end::Application downlaod in phone display -->
		<!-- end::Main container -->
		<!-- begin::Licences modal -->
		<div class="modal fade" id="licences_modal" tabindex="-1" aria-hidden="true">
			<!--begin::Modal dialog-->
			<div class="modal-dialog modal-dialog-centered mw-750px">
				<!--begin::Modal content-->
				<div class="modal-content rounded-4 modal-dark-background">
					<!--begin::Modal header-->
					<div class="modal-header pb-0 border-0 justify-content-end modal-dark-background">
						<!--begin::Close-->
						<div class="btn btn-sm btn-icon btn-active-color-danger" onclick="remove_modal()">
							<!--begin::Svg close Icon -->
							<span class="svg-icon svg-icon-1">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none"
									xmlns="http://www.w3.org/2000/svg">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1"
										transform="rotate(-45 6 17.3137)" fill="currentColor" />
									<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)"
										fill="currentColor" />
								</svg>
							</span>
							<!--end::Svg close Icon-->
						</div>
						<!--end::Close-->
					</div>
					<!--begin::Modal header-->
					<!--begin::Modal body-->
					<!-- begin::Trade license -->
					<div
						class="modal-body scroll-y d-flex rounded-2 modal-dark-background text-center justify-content-center">
						<div class=" col-12 owl-carousel ">
							<div class="col-12" >
								<a target="_blank" href="https://ecunion.ir/verify/sharjino.net?token=4380228626cb862f368b">
									<img class="mb-3 img-thumbnail bg-none border-0" src="../../assets/media/licences/asnaf.png"
										alt="مجوز اصناف">
									<h4 class="fs-6 text-light">مجوز اصناف</h4>
								</a>
							</div>
							<!-- end::Trade license -->
							<!-- begin::Enamad license -->
							<div class="col-12">
								<a target="_blank" href="https://trustseal.enamad.ir/?id=220415&Code=MRY983U76jF9nyiQZh4T">
									<img class="mb-3 img-thumbnail bg-none border-0" eferrerpolicy="origin"
										src="../../assets/media/licences/enamad.png" id="MRY983U76jF9nyiQZh4T"
										alt="نماد کسب و کار اینترنتی">
									<h4 class="fs-6 text-light">اینماد</h4>
								</a>
							</div>
							<!-- end::Enamad license -->
							<!-- begin::Ershad license -->
							<div class="col-12" >
								<a target="_blank"
									href="https://logo.samandehi.ir/Verify.aspx?id=316435&p=xlaorfthgvkaaodsxlaodshw">
									<img class="mb-3 img-thumbnail bg-none border-0"
										src="../../assets/media/licences/neshan_melli.png" alt="نشان وزارت ارشاد">
									<h4 class="fs-6 text-light">مجوز ارشاد</h4>
								</a>
							</div>
							<!-- end::Ershad license -->
							<!-- begin::Sadad license -->
							<div class="col-12" >
								<a target="_blank" href="https://sadadpsp.ir/">
									<img class="mb-3 img-thumbnail bg-none border-0" src="../../assets/media/licences/sadad.png"
										alt="نماد درگاه پرداخت اینترنتی سداد">
									<h4 class="fs-6 text-light">درگاه سداد</h4>
								</a>
							</div>
							<!-- end::Sadad license -->
						</div>
					</div>
					<!--end::Modal body-->
				</div>
				<!--end::Modal content-->
			</div>
			<!--end::Modal dialog-->
		</div>
		<!--end::Main-->
		<!--begin::Javascript-->
		<script>var hostUrl = "assets/";</script>
		<!--begin::Theme mode setup on page load-->
		<script>var defaultThemeMode = "light"; var themeMode; if ( document.documentElement ) { if ( document.documentElement.hasAttribute("data-theme-mode")) { themeMode = document.documentElement.getAttribute("data-theme-mode"); } else { if ( localStorage.getآیتم("data-theme") !== null ) { themeMode = localStorage.getآیتم("data-theme"); } else { themeMode = defaultThemeMode; } } if (themeMode === "system") { themeMode = window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"; } document.documentElement.setAttribute("data-theme", themeMode); }
		</script>
		<!--end::Theme mode setup on page load-->
		<!--begin::Global Javascript Bundle(mوatory for all pages)-->
		<script src="assets/plugins/global/plugins.bundle.js"></script>
		<script src="assets/js/scripts.bundle.js"></script>
		<!--end::Global Javascript Bundle-->
		<!--begin::سفارشی Javascript(used for this page only)-->
		<script src="assets/js/custom/authentication/sign-in/general.js"></script>
		<script src="assets/js/myjs.js"></script>
		<!--end::سفارشی Javascript-->
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html>